<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/animated.css" />
        <title>Psikotest</title>
    </head>
    <body ng-app="PsikotestApp">
        <div ng-controller="MainController">
            <!-- <div ng-if="menu == 'home'" >
                <div id="scrollNav" class="right-nav-wrapper">
                    <ul>
                        <li><a class="scroll" href="#page1"></a></li>
                        <li><a class="scroll" href="#page2"></a></li>
                        <li><a class="scroll" href="#page3"></a></li>
                        <li><a class="scroll" href="#page4"></a></li>
                        <li><a class="scroll" href="#page5"></a></li>
                    </ul>
                </div>
                <section id="page1" class="background">
                    <span class="menu dropdown">
                        <span class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" ng-click="changeMenu('home')">home</a>
                            <a class="dropdown-item" ng-click="changeMenu('about')">about DISC</a>
                            <a class="dropdown-item" ng-click="changeMenu('download')">download</a>
                        </div>
                    </span>
                    <img class="back" src="image/bg/bg-page-1.jpg" alt="">
                    <div class="pg1-title-1">Masa Depan Ada <br> Di Tanganmu</div>
                    <div class="pg1-title-2">Website ini akan memberikanmu penerangan <br>mengenai apa karakter, lingkungan dan <br> apa pekerjaanmu yang cocok berdasarkan tipe <br> kepribadian DISCmu </div>
                    <span class="bumi">
                        <img src="image/bumi.png" alt="">
                    </span>
                    <span class="logo">
                        <img src="image/logo.png" alt="">
                    </span>
                    <span class="kepribadian-d wow bounceInRight" data-wow-delay=".1s" ng-click="genderHome('d')">
                        <img src="image/d.png" alt="">
                    </span>
                    <span class="kepribadian-i wow bounceInRight" data-wow-delay=".3s" ng-click="genderHome('i')">
                        <img src="image/i.png" alt="">
                    </span>
                    <span class="kepribadian-s wow bounceInRight" data-wow-delay=".5s" ng-click="genderHome('s')">
                        <img src="image/s.png" alt="">
                    </span>
                    <span class="kepribadian-c wow bounceInRight" data-wow-delay=".8s" ng-click="genderHome('c')">
                        <img src="image/c.png" alt="">
                    </span>
                    <span class="sosmed">
                        <a href="http://instagram.com/flashlightforfuture" target="_blank">
                            <img src="image/ig.png" alt="">
                        </a>
                        <a href="https://www.facebook.com/Flashlight-for-Future-454247354997453" target="_blank">
                            <img src="image/fb" alt="">
                        </a>
                    </span>
                </section>
                
                <section id="page2" class="background">
                    <img class="back" src="image/bg/bg-page-2.jpg" alt="">
                    <div class="pg2-title-1">Setelah Lulus</div>
                    <div class="pg2-title-2">Kuliah Jurusan Apa?? </div>
                    <div class="pg2-title-3">Seringkali pertanyaan itu muncul di benak <br>
                            murid SMA yang hampir lulus ataupun yang <br>
                            sudah lulus bersekolah </div>
                    <span class="orang">
                        <img src="image/orang.png" alt="">
                    </span>
                    <span class="benak-1 wow bounceInUp" data-wow-delay=".1s">
                        <img src="image/benak-1.png" alt="">
                    </span>
                    <span class="benak-2 wow bounceInUp" data-wow-delay=".3s">
                        <img src="image/benak-2.png" alt="">
                    </span>
                    <span class="benak-3 wow bounceInUp" data-wow-delay=".5s">
                        <img src="image/benak-3.png" alt="">
                    </span>
                </section>
                
                <section id="page3" class="background">
                    <img class="back" src="image/bg/bg-page-3.jpg" alt="">
                    <div class="pg3-title-1 wow bounceInUp" data-wow-delay=".1s">Flashlight for Future</div>
                    <div class="pg3-title-2 wow bounceInUp" data-wow-delay=".3s">akan menjawab pertanyaanmu ! </div>
                </section>
                
                <section id="page4" class="background">
                    <img class="back" src="image/bg/bg-page-4.jpg" alt="">
                    <div class="pg4-title-1" >Flashlight for Future</div>
                    <div class="pg4-title-2" >memberitahu kamu</div>
                    <span class="solusi">
                        <img src="image/solusi.gif" alt="">
                    </span>
                    <div class="solusi-btn">
                        <span class="solusi-1">
                            <span class="btn"></span>
                        </span>
                        <span class="solusi-2">
                            <span class="btn"></span>
                        </span>
                        <span class="solusi-3">
                            <span class="btn"></span>
                        </span>
                    </div>
                </section>
                
                <section id="page5" class="background">
                    <img class="back" src="image/bg/bg-page-5.jpg" alt="">
                    <div class="pg5-title-1">Ketahui Lebih Lanjut</div>
                    <span class="mulai-kuis">
                        <span class="btn"></span>
                    </span>
                    <span class="mulai-kuis">
                        <span class="btn" ng-click="changeMenu('caraPengerjaan')"></span>
                    </span>
                    <div class="orang">
                        <span class="orang-1">
                            <img src="image/orang-1.png" alt="">
                        </span>
                        <span class="orang-2">
                            <img src="image/orang-2.png" alt="">
                        </span>
                        <span class="orang-3">
                            <img src="image/orang-3.png" alt="">
                        </span>
                        <span class="orang-4">
                            <img src="image/orang-4.png" alt="">
                        </span>
                    </div>
                </section>
            </div> -->
            
            <div ng-if="menu == 'home'">
                <section id="gender" class="background">
                    <span class="menu dropdown">
                        <span class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" ng-click="changeMenu('home')" href="#">home</a>
                            <a class="dropdown-item" ng-click="changeMenu('about')">about DISC</a>
                            <a class="dropdown-item" ng-click="changeMenu('download')">download</a>
                        </div>
                    </span>
                    <img src="image/bg/gender.jpg" alt="">
                    <div class="gender-btn">
                        <span class="cewe" ng-click="selectGender('wanita')">
                            <span class="btn"></span>
                        </span>
                        <span class="cowo" ng-click="selectGender('pria')">
                            <span class="btn"></span>
                        </span>
                    </div>
                    
                </section>
            </div>

            <div ng-if="menu == 'genderHome'">
                    <section id="gender" class="background">
                        <span class="menu dropdown">
                            <span class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" ng-click="changeMenu('home')" href="#">home</a>
                                <a class="dropdown-item" ng-click="changeMenu('about')">about DISC</a>
                                <a class="dropdown-item" ng-click="changeMenu('download')">download</a>
                            </div>
                        </span>
                        <img class="img" src="image/bg/gender.jpg" alt="">
                        <div class="gender-btn">
                            <span class="cewe" ng-click="detailFromMenu('wanita')">
                                <span class="btn"></span>
                            </span>
                            <span class="cowo" ng-click="detailFromMenu('pria')">
                                <span class="btn"></span>
                            </span>
                        </div>
                        
                    </section>
                </div>

            <div ng-if="menu == 'caraPengerjaan'">
                <section id="caraPengerjaan" class="background">
                    <div class="front-ground"></div>
                    <div class="cara-pengerjaan-wrapper">
                        <div class="pengerjaan-title">
                            <img src="image/cara-pengerjaan.png" alt="">
                        </div>
                        <div class="pengerjaan-wrapper">
                            <span class="cara">
                                <div class="pengerjaan-img">
                                    <img src="image/pengerjaan-1.png" alt="">
                                </div>
                                <div class="pengerjaan-desc">
                                    Hindari barang yang dapat <br>mengganggu kosentrasimu
                                </div>
                            </span>
                            <span class="cara">
                                <div class="pengerjaan-img">
                                    <img src="image/pengerjaan-2.png" alt="">
                                </div>
                                <div class="pengerjaan-desc">
                                    Pilih salah satu jawaban yang<br> menggambarkan dirimu
                                </div>
                            </span>
                            <span class="cara">
                                <div class="pengerjaan-img">
                                    <img src="image/pengerjaan-3.png" alt="">
                                </div>
                                <div class="pengerjaan-desc">
                                    Hanya butuh 5 menit untuk<br> mengerjakan soal ini
                                </div>
                            </span>
                        </div>
                        <div class="btn-ok" ng-click="changeMenu('gender')">
                            <img src="image/btn-ok.png" alt="">
                        </div>
                    </div>
                    <span class="menu dropdown">
                        <span class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" ng-click="changeMenu('home')" href="#">home</a>
                            <a class="dropdown-item" ng-click="changeMenu('about')">about DISC</a>
                            <a class="dropdown-item" ng-click="changeMenu('download')">download</a>
                        </div>
                    </span>
                    <img class="img" src="image/bg/gender.jpg" alt="">
                    <div class="gender-btn">
                        <span class="cewe">
                            <span class="btn"></span>
                        </span>
                        <span class="cowo">
                            <span class="btn"></span>
                        </span>
                    </div>
                    
                </section>
            </div>

            <div ng-if="menu == 'kuis'">
                <section id="kuis" class="background">
                    <span class="menu dropdown">
                        <span class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" ng-click="changeMenu('home')" href="#">home</a>
                            <a class="dropdown-item" ng-click="changeMenu('about')">about DISC</a>
                            <a class="dropdown-item" ng-click="changeMenu('download')">download</a>
                        </div>
                    </span>
                    <div class="pertanyaan-title">
                        {{pertanyaanTitles[pertanyaanKe]}}
                    </div>
                    <div class="pertanyaan-wrapper">
                        <div class="pertanyaan">
                            <div class="pilihan" ng-click="nextQuestion(pertanyaanKe, kuncis[pertanyaanKe][1])">
                                <div class="pilihan-img">
                                    <img src="image/pertanyaan/{{pertanyaanKe}}-1-22.png" alt="">
                                </div>
                                <div class="pilihan-description">
                                    
                                    {{descriptions[pertanyaanKe][1]}}
                                </div>
                            </div>
                            <div class="pilihan" ng-click="nextQuestion(pertanyaanKe, kuncis[pertanyaanKe][2])">
                                <div class="pilihan-img">
                                    <img src="image/pertanyaan/{{pertanyaanKe}}-2-22.png" alt="">
                                </div>
                                <div class="pilihan-description">
                                       
                                    {{descriptions[pertanyaanKe][2]}}
                                </div>
                            </div>
                            <div class="pilihan" ng-click="nextQuestion(pertanyaanKe, kuncis[pertanyaanKe][3])">
                                <div class="pilihan-img">
                                    <img src="image/pertanyaan/{{pertanyaanKe}}-3-22.png" alt="">
                                </div>
                                <div class="pilihan-description">
                                       
                                    {{descriptions[pertanyaanKe][3]}}
                                </div>
                            </div>
                            <div class="pilihan" ng-click="nextQuestion(pertanyaanKe, kuncis[pertanyaanKe][4])">
                                <div class="pilihan-img">
                                    <img src="image/pertanyaan/{{pertanyaanKe}}-4-22.png" alt="">
                                </div>
                                <div class="pilihan-description">
                                       
                                    {{descriptions[pertanyaanKe][4]}}
                                </div>
                            </div>
                        </div>
                        <div class="bar-wrapper">
                            <div class="bar">
                                <span class="value">{{pertanyaanKe}}/{{pertanyaanTitles.length - 1}}</span>
                                <span class="progress" ng-style="getProgress(pertanyaanKe, pertanyaanTitles.length - 1)"></span>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </div>

            <div ng-if="menu == 'hasil'">
                <div id="hasil">
                    <span class="menu dropdown">
                        <span class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" ng-click="changeMenu('home')" href="#">home</a>
                            <a class="dropdown-item" ng-click="changeMenu('about')">about DISC</a>
                            <a class="dropdown-item" ng-click="changeMenu('download')">download</a>
                        </div>
                    </span>
                    <div ng-if="hasil === 'd'">
                        <img src="image/bg/d-{{gender}}.jpg" alt="">
                        <div class="preview-wrapper">
                            <div class="preview">
                                Tipe Dominace adalah tipe yang terfokus pada pencapaian tujuan (goal oriented) dengan mengunakan kekuasaan dan otoritas yang dimiliki. Kekuatannya terletak kemampuan dalam mengambil keputusan secara cepat dan langsung. Kelemahannya adalah tidak memiliki kesabaran, kurang hati-hati dan cenderung sebagai penuntut.
                            </div>
                        </div>
                    </div>

                    <div ng-if="hasil === 'i'">
                        <img src="image/bg/i-{{gender}}.jpg" alt="">
                        <div class="preview-wrapper">
                            <div class="preview">
                                Tipe influence adalah tipe yang mudah bergaul dan berkomunikasi dengan dengan orang lain. Kekuatan tipe I terletak pada pribadi yang optimis, anthusias dalam menjalankan pekerjannnya. Kelemahan dari tipe influence terkadang kurang serius dalam mengerjakan sesuatu dan menaruh curiga terhadap lingkungannya. 
                            </div>
                        </div>
                    </div>
                    
                    <div ng-if="hasil === 's'">
                        <img src="image/bg/s-{{gender}}.jpg" alt="">
                        <div class="preview-wrapper">
                            <div class="preview">
                                    Tipe Steadiness adalah tipe yang lebih berorientasi pada hubungan dengan sesama. Kekuatan dari tipe ini adalah loyalitas yang tinggi, supportif, dan cepat dalam melayani orang lain. Kelemahannya 	terletak pada pribadi yang kurang aktif dan tidak memiliki hasrat yang tinggi. Hal yang paling ditakuti oleh tipe S ini adalah 	perubahan lingkungan.
                            </div>
                        </div>
                    </div>

                    <div ng-if="hasil === 'c'">
                        <img src="image/bg/c-{{gender}}.jpg" alt="">
                        <div class="preview-wrapper">
                            <div class="preview">
                                Tipe Compliance adalah tipe yang dapat bekerja dengan menggunakan aturan baku, dan perfesionist. Kehati-hatian, teliti, c	ermat, akurat, dan memiliki intuisi yang baik menjadi kekuatan dari tipe C Kelemahannya pada sikap yang terlalu kaku, keras kepala,seringkali frustasi ketika hasil yang diharapkan tidak menjadi kenyatan    
                            </div>
                        </div>
                    </div>

                    <div class="preview-btn" ng-click="selengkapnya()">
                        <div class="btn"></div>
                    </div>
                </div>
            </div>

            <div ng-if="menu == 'detail'">
                <span class="menu dropdown">
                    <span class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" ng-click="changeMenu('home')" href="#">home</a>
                        <a class="dropdown-item" ng-click="changeMenu('about')">about DISC</a>
                        <a class="dropdown-item" ng-click="changeMenu('download')">download</a>
                    </div>
                </span>
                <section id="detail" class="background">
                    <div ng-if="hasil == 'd'">
                        <div class="part">
                            <img src="image/detail/1/awal-{{gender}}.gif" alt="">
                        </div>
                        <div class="part">
                            <img src="image/detail/1/bg-2.png" alt="">
                            <div class="title-wrapper">
                                <span class="title red">Karakter umum</span>
                            </div>
                            <div class="karakter-wrapper">
                                <div class="karakter-container">
                                    <div class="karakter wow bounceInUp" data-wow-delay=".1s">
                                        <img src="image/detail/1/karakter1.png" alt="">
                                        <div class="desc">Gigih, tidak mudah menyerah</div>
                                    </div>
                                    <div class="karakter wow bounceInUp" data-wow-delay=".3s">
                                        <img src="image/detail/1/karakter2-{{gender}}.png" alt="">
                                        <div class="desc">Pemecah masalah yang baik</div>
                                    </div>
                                    <div class="karakter wow bounceInUp" data-wow-delay=".5s">
                                        <img src="image/detail/1/karakter3-{{gender}}.png" alt="">
                                        <div class="desc">Berani mencoba hal baru</div>
                                    </div>
                                    <div class="karakter wow bounceInUp" data-wow-delay=".7s">
                                        <img src="image/detail/1/karakter4.png" alt="">
                                        <div class="desc">Mengontrol orang lain</div>
                                    </div>
                                    <div class="karakter wow bounceInUp" data-wow-delay=".9s">
                                        <img src="image/detail/1/karakter5-{{gender}}.png" alt="">
                                        <div class="desc">Bekerja cepat dan efisien</div>
                                    </div>
                                    <div class="karakter wow bounceInUp" data-wow-delay="1.2s">
                                        <img src="image/detail/1/karakter6.png" alt="">
                                        <div class="desc">Berorientasi pada hasil</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/1/lingkungan-{{gender}}.jpg" alt="">
                            <div class="awan-left-wrapper">
                                <div class="awan d"></div>
                                <div class="description">
                                    Memaksakan kehendak <br> kepada orang lain <br><br><br>
                                    Beragrumen untuk <br>menunjukkan diri berkuasa <br><br><br>
                                    Egois ingin menang sendiri
                                </div>
                            </div>
                            <div class="awan-right-wrapper">
                                <div class="awan d"></div>
                                <div class="description">
                                    Pekerjaan yang menantang <br>dan penuh peluang <br><br><br> 
                                    Lingkungan yang berorientasi <br>pada masa depan <br><br><br> 
                                    Bebas dan tidak diawasi
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/1/bg-4.png" alt="">
                            <div class="title-wrapper" style="top: 150px;">
                                <span class="title red">Pekerjaan</span>
                            </div>
                            <div class="karakter-wrapper" style="top: 280px;">
                                <div class="karakter-container">
                                    <div class="karakter wow flash" data-wow-delay=".1s">
                                        <img src="image/detail/1/pekerjaan1.png" alt="">
                                        <div class="desc">Pengusaha</div>
                                    </div>
                                    <div class="karakter wow flash" data-wow-delay=".3s">
                                        <img src="image/detail/1/pekerjaan2.png" alt="">
                                        <div class="desc">Pengacara</div>
                                    </div>
                                    <div class="karakter wow flash" data-wow-delay=".5s">
                                        <img src="image/detail/1/pekerjaan3.png" alt="">
                                        <div class="desc">Produser film</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/1/bg-5.png" alt="">
                            <div class="title-wrapper" style="top: 150px;">
                                <span class="title red">Tokoh dengan tipe D</span>
                            </div>
                            <div class="karakter-wrapper" style="top: 280px;">
                                <div class="karakter-container">
                                    <div class="karakter wow flash" data-wow-delay=".1s">
                                        <img src="image/detail/1/tokoh1.png" alt="">
                                        <div class="desc">Madonna</div>
                                    </div>
                                    <div class="karakter wow flash" data-wow-delay=".3s">
                                        <img src="image/detail/1/tokoh2.png" alt="">
                                        <div class="desc">Christian Ronaldo</div>
                                    </div>
                                    <div class="karakter wow flash" data-wow-delay=".5s">
                                        <img src="image/detail/1/tokoh3.png" alt="">
                                        <div class="desc">Ir. Soekarno</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="hasil == 'i'">
                        <div class="part">
                            <img src="image/detail/2/awal-{{gender}}.gif" alt="">
                        </div>
                        <div class="part">
                            <img src="image/detail/2/bg-2.png" alt="">
                            <div class="title-wrapper">
                                <span class="title yellow">Karakter umum</span>
                            </div>
                            <div class="karakter-wrapper">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/2/karakter1-{{gender}}.png" alt="">
                                        <div class="desc">Bersahabat dan mudah bergaul</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/karakter2.png" alt="">
                                        <div class="desc">Pembicara yang baik dimuka umum</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/karakter3.png" alt="">
                                        <div class="desc">Perlu bantuan untuk terorganisir</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/karakter4-{{gender}}.png" alt="">
                                        <div class="desc">Sangat membenci angka</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/karakter5.png" alt="">
                                        <div class="desc">Berfikir 	secara emosional</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/karakter6-{{gender}}.png" alt="">
                                        <div class="desc">Pelupa</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/2/lingkungan-{{gender}}.jpg" alt="">
                            <div class="awan-left-wrapper">
                                <div class="awan i"></div>
                                <div class="description">
                                        Menjadi narsis <br>mempromosikan diri sendiri <br><br><br>
                                        Menjadi bawel dan <br>menjengkelkan <br><br><br>
                                        Menjadi terlalu <br>optimistik
                                </div>
                            </div>
                            <div class="awan-right-wrapper">
                                <div class="awan i"></div>
                                <div class="description">
                                        Banyak kesempatan berhubugan <br>dengan orang lain<br><br><br> 
                                        Bebas bergerak<br> kemana saja<br><br><br> 
                                        Mempunyai kesempatan<br> untuk mengekspresikan diri
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/2/bg-4.png" alt="">
                            <div class="title-wrapper" style="top: 150px;">
                                <span class="title yellow">Pekerjaan</span>
                            </div>
                            <div class="karakter-wrapper" style="top: 280px;">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/2/pekerjaan1.png" alt="">
                                        <div class="desc">Guru</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/pekerjaan2.png" alt="">
                                        <div class="desc">Marketing</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/pekerjaan3.png" alt="">
                                        <div class="desc">Perawat</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/2/bg-5.jpg" alt="">
                            <div class="title-wrapper" style="top: 150px;">
                                <span class="title yellow">Tokoh dengan tipe D</span>
                            </div>
                            <div class="karakter-wrapper" style="top: 280px;">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/2/tokoh1.png" alt="">
                                        <div class="desc">Oprah Winfrey</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/tokoh2.png" alt="">
                                        <div class="desc">Gusdur</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/2/tokoh3.png" alt="">
                                        <div class="desc">Mohammad Ali</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="hasil == 's'">
                        <div class="part">
                            <img src="image/detail/3/awal-{{gender}}.gif" alt="">
                        </div>
                        <div class="part">
                            <img src="image/detail/3/bg-2.png" alt="">
                            <div class="title-wrapper">
                                <span class="title green">Karakter umum</span>
                            </div>
                            <div class="karakter-wrapper">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/3/karakter1-{{gender}}.png" alt="">
                                        <div class="desc">Lebih suka menyendiri mencuri ketenangan</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/karakter2.png" alt="">
                                        <div class="desc">Berfikir logis, faktual dan sistematis</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/karakter3.png" alt="">
                                        <div class="desc">Mencari ketenangan dan kedamaian</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/karakter4-{{gender}}.png" alt="">
                                        <div class="desc">Pendengar yang baik</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/karakter5-{{gender}}.png" alt="">
                                        <div class="desc">Memperhatikan orang lain</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/karakter6-{{gender}}.png" alt="">
                                        <div class="desc">Lama dalam bekerja</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/3/lingkungan-{{gender}}.jpg" alt="">
                            <div class="awan-left-wrapper">
                                <div class="awan s"></div>
                                <div class="description">
                                    Cuek dan tidak perhatian <br>sama sekali <br><br><br>
                                    Menjadi ragu dalam <br>bertindak / berbicara<br><br><br>
                                    Tidak menunjukkan <br>perubahan raut wajah
                                </div>
                            </div>
                            <div class="awan-right-wrapper">
                                <div class="awan s"></div>
                                <div class="description">
                                    Lingkungan yang <br>minim konflik<br><br><br> 
                                    Memberikan waktu <br>yang tidak mepet <br><br><br> 
                                    Kebebasan dari peraturan<br> mengekang
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/3/bg-4.png" alt="">
                            <div class="title-wrapper" style="top: 150px;">
                                <span class="title green">Pekerjaan</span>
                            </div>
                            <div class="karakter-wrapper" style="top: 280px;">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/3/pekerjaan1.png" alt="">
                                        <div class="desc">Dokter</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/pekerjaan2.png" alt="">
                                        <div class="desc">Desainer</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/pekerjaan3.png" alt="">
                                        <div class="desc">Juru Masak</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/3/bg-5.png" alt="">
                            <div class="title-wrapper" style="top: 150px;">
                                <span class="title green">Tokoh dengan tipe D</span>
                            </div>
                            <div class="karakter-wrapper" style="top: 280px;">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/3/tokoh1.png" alt="">
                                        <div class="desc">Mahatma Gandhi</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/tokoh2.png" alt="">
                                        <div class="desc">Lady Diana</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/3/tokoh3.png" alt="">
                                        <div class="desc">Susilo Bambang Yudhoyono</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="hasil == 'c'">
                        <div class="part">
                            <img src="image/detail/4/awal-{{gender}}.gif" alt="">
                        </div>
                        <div class="part">
                            <img src="image/detail/4/bg-2.png" alt="">
                            <div class="title-wrapper">
                                <span class="title blue">Karakter umum</span>
                            </div>
                            <div class="karakter-wrapper">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/4/karakter1.png" alt="">
                                        <div class="desc">Lebih percaya data</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/karakter2.png" alt="">
                                        <div class="desc">Sangat mengikuti prosedur</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/karakter3.png" alt="">
                                        <div class="desc">Perlu mengetahui 	proses</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/karakter4-{{gender}}.png" alt="">
                                        <div class="desc">Tidak suka keramaian</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/karakter5.png" alt="">
                                        <div class="desc">Mempunyai standart yang tinggi</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/karakter6.png" alt="">
                                        <div class="desc">Meneliti ulang untuk keakuratan</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/4/lingkungan-{{gender}}.jpg" alt="">
                            <div class="awan-left-wrapper">
                                <div class="awan c"></div>
                                <div class="description">
                                        Pesimis. berfikir dari <br> sisi buruknya <br><br><br>
                                        Menunjukkan kekhawatiran <br>yang berlebihan <br><br><br>
                                        Menjadi teralu mengkritisi<br> segala hal
                                </div>
                            </div>
                            <div class="awan-right-wrapper">
                                <div class="awan c"></div>
                                <div class="description">
                                        Lingkungan yang butuh <br>pemikiran kritis <br><br><br> 
                                        Ruang kerja <br>private / pribadi <br><br><br> 
                                        Area yang butuh <br>kemampuan teknis
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/4/bg-4.png" alt="">
                            <div class="title-wrapper" style="top: 150px;">
                                <span class="title blue">Pekerjaan</span>
                            </div>
                            <div class="karakter-wrapper" style="top: 280px;">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/4/pekerjaan1.png" alt="">
                                        <div class="desc">Akuntan</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/pekerjaan2.png" alt="">
                                        <div class="desc">Programmer</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/pekerjaan3.png" alt="">
                                        <div class="desc">Arsitek</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="part">
                            <img src="image/detail/4/bg-5.png" alt="">
                            <div class="title-wrapper" style="top: 150px;">
                                <span class="title blue">Tokoh dengan tipe D</span>
                            </div>
                            <div class="karakter-wrapper" style="top: 280px;">
                                <div class="karakter-container">
                                    <div class="karakter">
                                        <img src="image/detail/4/tokoh1.png" alt="">
                                        <div class="desc">Bill Gates</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/tokoh2.png" alt="">
                                        <div class="desc">Albert Einsten</div>
                                    </div>
                                    <div class="karakter">
                                        <img src="image/detail/4/tokoh3.png" alt="">
                                        <div class="desc">Bj Habibie</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script> 
        <script src="js/wow.js"></script> 
        <script src="js/scroll.js"></script> 
        <script>
            new WOW().init();
        </script>

        
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/MainController.js"> </script>
        <script src="js/DPriaController.js"> </script>
        <script src="js/DWanitaController.js"> </script>
        <script src="js/IPriaController.js"> </script>
        <script src="js/IWanitaController.js"> </script>
        <script src="js/SPriaController.js"> </script>
        <script src="js/SWanitaController.js"> </script>
        <script src="js/CPriaController.js"> </script>
        <script src="js/CWanitaController.js"> </script>
        

        <!-- directive -->
        <!-- <script src="js/directives/menu.js"> </script> -->
    
    </body>
</html>