<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/animated.css" />
        <title>Psikotest</title>
    </head>
    <body ng-app="PsikotestApp">
        <div ng-controller="MainController">

            <div>
                <section id="caraPengerjaan" class="background">
                    <div class="front-ground"></div>
                    <div class="cara-pengerjaan-wrapper">
                        <div class="pengerjaan-title">
                            <img src="image/cara-pengerjaan.png" alt="">
                        </div>
                        <div class="pengerjaan-wrapper">
                            <span class="cara wow bounceInDown" data-wow-delay=".1s">
                                <div class="pengerjaan-img">
                                    <img src="image/pengerjaan-1.png" alt="">
                                </div>
                                <div class="pengerjaan-desc">
                                    Hindari barang yang dapat <br>mengganggu kosentrasimu
                                </div>
                            </span>
                            <span class="cara wow bounceInDown" data-wow-delay=".3s">
                                <div class="pengerjaan-img">
                                    <img src="image/pengerjaan-2.png" alt="">
                                </div>
                                <div class="pengerjaan-desc">
                                    Pilih salah satu jawaban yang<br> menggambarkan dirimu
                                </div>
                            </span>
                            <span class="cara wow bounceInDown" data-wow-delay=".5s">
                                <div class="pengerjaan-img">
                                    <img src="image/pengerjaan-3.png" alt="">
                                </div>
                                <div class="pengerjaan-desc">
                                    Hanya butuh 5 menit untuk<br> mengerjakan soal ini
                                </div>
                            </span>
                        </div>
                        <div class="btn-ok wow bounceInUp" data-wow-delay=".7s" ng-click="changeMenu('gender')">
                            <img src="image/btn-ok.png" alt="">
                        </div>
                    </div>
                    <span class="menu dropdown">
                        <span class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" ng-click="changeMenu('home')" href="#">home</a>
                            <a class="dropdown-item" ng-click="changeMenu('about')">about DISC</a>
                            <a class="dropdown-item" ng-click="changeMenu('download')">download</a>
                        </div>
                    </span>
                    <img src="image/bg/gender.jpg" alt="">
                    <div class="gender-btn">
                        <span class="cewe">
                            <span class="btn"></span>
                        </span>
                        <span class="cowo">
                            <span class="btn"></span>
                        </span>
                    </div>
                    
                </section>
            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script> 
        <script src="js/wow.js"></script> 
        <script src="js/scroll.js"></script> 
        <script>
            new WOW().init();
        </script>

        
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/MainController.js"> </script>
        <script src="js/DPriaController.js"> </script>
        <script src="js/DWanitaController.js"> </script>
        <script src="js/IPriaController.js"> </script>
        <script src="js/IWanitaController.js"> </script>
        <script src="js/SPriaController.js"> </script>
        <script src="js/SWanitaController.js"> </script>
        <script src="js/CPriaController.js"> </script>
        <script src="js/CWanitaController.js"> </script>
        

        <!-- directive -->
        <!-- <script src="js/directives/menu.js"> </script> -->
    
    </body>
</html>