#about{
    position: relative;
    width: 100%;
    .back{
        width: 100%;
    }
    .about-wrapper{
        z-index: 1;
        width: 100%;
        position: absolute;
        top: 300px;
        .about-item{
            width: 329px;
            margin: 0 auto;
            position: relative;
            .about-1{
                width: 329px;
                position:absolute;
            }
            .about-2{
                width: 299px;
                position: absolute;
            }
            .about-3{
                width: 320px;
                position: absolute;
            }
        }
    }
    .menu{
        position: absolute;
        top: 20px;
        right: 30px;
        .btn{
            background-image: url('../image/menu.png');
            background-repeat: no-repeat;
            width: 55px;
            height: 56px;
        }
        .btn:hover{
            opacity: 0.6;
        }
    }
}

.pos-left{
    top: -80px;
    left: -340px;
}
.pos-right{
    top: -55px;
    right: -300px;
}

.slide-left{
    top: -79px;
    left: -298px;
    -webkit-transition: left 0.6s; /* Safari */
    transition: left .6s;
}
.slide-right{
    right: -259px;
    top: -54px;
    -webkit-transition: right 0.6s; /* Safari */
    transition: right .6s;
}