#about{
    position: relative;
    width: 100%;
    .back{
        width: 100%;
    }
    .about{
        z-index: 1;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 300px;
        .about-1{
            // position: absolute;
        }
        .about-2{
            // position: absolute;
        }
        .about-3{
            // position: absolute;
        }
    }
    .menu{
        position: absolute;
        top: 20px;
        right: 30px;
        .btn{
            background-image: url('../image/menu.png');
            background-repeat: no-repeat;
            width: 55px;
            height: 56px;
        }
        .btn:hover{
            opacity: 0.6;
        }
    }
}