#about{
    position: relative;
    width: 100%;
    .back{
        width: 100%;
    }
    .about-wrapper{
        z-index: 1;
        width: 100%;
        position: absolute;
        top: 300px;
        .about-item{
            width: 970px;
            margin: 0 auto;
            .about-1{
                width: 329px;
                position: relative;
                top: -60px;
            }
            .about-2{
                width: 299px;
            }
            .about-3{
                width: 320px;
                position: relative;
                top: -40px;
            }
        }
    }
    .menu{
        position: absolute;
        top: 20px;
        right: 30px;
        .btn{
            background-image: url('../image/menu.png');
            background-repeat: no-repeat;
            width: 55px;
            height: 56px;
        }
        .btn:hover{
            opacity: 0.6;
        }
    }
}