#detail{
    position: relative;
    .part{
        padding: 0;
        margin: 0;
        position: relative;
        img{
            width: 100%;
        }
        .title-wrapper{
            position: absolute;
            top: 50px;
            width: 100%;
            text-align: center;
            .title{
                &.red{
                    background: #84313d;
                }
                &.blue{
                    background: #3a4b85;
                }
                &.yellow{
                    background: #ec9c00;
                }
                &.green{
                    background: #30897e;
                }
                color: #fff;
                padding: 7px 30px;
                border-radius: 20px; 
            }
        }
        .karakter-wrapper{
            position: absolute;
            width: 100%;
            top: 150px;
            .karakter-container{
                margin: 0 auto;
                width: 700px;
                .karakter{
                    margin: 0 20px;
                    width: 186px;
                    height: 230px;
                    display: inline-block;
                    text-align: center;
                    .desc{  
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
        .awan-left-wrapper{
            position: absolute;
            z-index: 2;
            top: 100px;
            left: 100px;
            .awan{
                background-image: url('../image/detail/1/awan-hitam.png');
                width: 315px;
                height: 183px;
            }
            .description{
                margin-top: 30px;
                color: #fff;
                font-size: 14px;
                line-height: 18px;
                text-align: center
            }
        }
        .awan-right-wrapper{
            position: absolute;
            z-index: 2;
            top: 100px;
            right: 100px;
            .awan{
                background-image: url('../image/detail/1/awan-putih.png');
                width: 315px;
                height: 183px;
            }
            .description{
                margin-top: 30px;
                color: #fff;
                font-size: 14px;
                line-height: 18px;
                text-align: center
            }
        }
    }
    .ketiga{
        
    }
    .keempat{
        
    }
    .kelima{
        
    }
    .bg{
        position: absolute;
        bottom: -90px;
        z-index: 0;
        left: 0;
    }   
    
}