#page3{
    position: relative;
    .pg3-title-1{
        position: absolute;
        top: 350px;
        font-weight: bold;
        font-size: 50pt;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    .pg3-title-2{
        position: absolute;
        top: 410px;
        font-weight: bold;
        font-size: 26pt;
        color: #fff;
        text-align: center;
        width: 100%;
    }
}